.mainPage {
    background-image: url(./images/redfilmroll.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.secondPage {
    background-image: url(./images/invitebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
}


@font-face {
    font-family: 'Attic';
    src: url('./fonts/Attic.ttf'); format('truetype')
}

@font-face {
    font-family: 'Black Shadow';
    src: url('./fonts/black-shadow.regular.ttf'); format('truetype')
}

@font-face {
    font-family: 'Monopol';
    src: url('./fonts/Monopol.ttf'); format('truetype')
}

@font-face {
    font-family: 'Partty';
    src: url('./fonts/partty.regular.ttf'); format('truetype')
}

.p1 {
    font-family: 'Monopol';
    font-size: 8em;
    justify-content: center;
    text-align: center;
    color: #ffbb00;
    display: flex;
    margin-top: 70vh;
}

.p2 {
    font-family: 'Black Shadow';
    font-size: 8em;
    justify-content: center;
    text-align: center;
    color: #891b0a;
    display: flex;
}

.p3 {
    font-family: 'Monopol';
    font-size: 4em;
    justify-content: center;
    text-align: center;
    color: #ffbb00;
    display: flex;
    margin-bottom: 9rem;
    padding-bottom: 2rem;
}

#text{
    color: #E6B325;
    font-size: 8em;
    text-align: center;
    margin-top: 60vh;
    font-family: 'Attic';
}

#text2{
    color: #E6B325;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Attic';
}